{% block content %}

<h1>Location Inventory List</h1>
<ul>
  {% if error %}
        <p>Error exist.</p>
  {% endif %}
  <table style="width:1000px">
  <tr>
    <th>Store ID</th>
    <th>Display Location</th>
    <th>Display SKU</th>
	<th>Quantity</th>
	<th>Last Sell Date</th>
	<th>Create Date Time</th>
  </tr>
  {% for locnInventory in locnInventorys %}
  <tr>
    <td>{{ locnInventory.store_id }}</td>
    <td><a href="{% url "locninventory-edit" pk=locnInventory.id %}">{{ locnInventory.dsp_location }}</a></td>
    <td><a href="{% url "locninventory-edit" pk=locnInventory.id %}">{{ locnInventory.dsp_sku }}</a></td>
	<td>{{ locnInventory.inventory_qty }}</td>
    <td>{{ locnInventory.last_sell_datetime }}</td>
	<td>{{ locnInventory.create_dateTime }}</td>
  </tr>
  {% endfor %}
  </table>
</ul>

{% endblock %}
