<html>
    <head>
    <title>    Retail    Application</title>
    <meta    name="viewport"    content="width=device-width,    initial-scale=1.0">
    <link    href="./../static/css/bootstrap.min.css"    rel="stylesheet"    media="screen">
    <link    href="./../static/css/menu.css"    rel="stylesheet"    type="text/css">

<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>



  <script type="text/JavaScript">

  $(document).ready(function(event){

    $( "#create_user_id" ).click(function( event ) {
            event.preventDefault();
            var url = $(this).attr("href");
            $("#workarea").load($(this).attr("href"));

      });

    $( "#search_user_id" ).click(function( event ) {
      event.preventDefault();
      var url = $(this).attr("href");
      $("#workarea").load($(this).attr("href"));

      });

   });
  </script>


   </head>

    <body>

    <div    class="container">
        <div    class="row    header-wrapper">

            <div    class="col-md-4">
            <img    id="logo"    src="./../static/img/hatlogo.jpg"/>
        </div>

        </div>
        <div    class="row    content-wrapper2">

            <div    class="col-md-2"    >

            <div    class="panel-group"    id="accordion">
                <div    class="panel    panel-default">
                    <div    class="panel-heading">
                        <h4    class="panel-title">
                            <a    data-toggle="collapse"    data-parent="#accordion"    href="#collapseOne"><span    class="glyphicon    glyphicon-usd">
                            </span>Sales</a>
                        </h4>
                    </div>
                    <div    id="collapseOne"    class="panel-collapse    collapse    in">
                        <div    class="panel-body">
                            <table    class="table">
                                <tr>
                                    <td>
                                        <span    class="glyphicon    glyphicon-pencil    text-primary"></span><a    href="http://www.jquery2dotnet.com">Articles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span    class="glyphicon    glyphicon-flash    text-success"></span><a    href="http://www.jquery2dotnet.com">News</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span    class="glyphicon    glyphicon-file    text-info"></span><a    href="http://www.jquery2dotnet.com">Newsletters</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span    class="glyphicon    glyphicon-comment    text-success"></span><a    href="http://www.jquery2dotnet.com">Comments</a>
                                        <span    class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div    class="panel    panel-default">
                    <div    class="panel-heading">
                        <h4    class="panel-title">
                            <a    data-toggle="collapse"    data-parent="#accordion"    href="#collapseTwo"><span    class="glyphicon    glyphicon-shopping-cart">
                            </span>Purchase</a>
                        </h4>
                    </div>
                    <div    id="collapseTwo"    class="panel-collapse    collapse">
                        <div    class="panel-body">
                            <table    class="table">
                                <tr>
                                    <td>
                                        <a    href="http://www.jquery2dotnet.com">Orders</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a    href="http://www.jquery2dotnet.com">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a    href="http://www.jquery2dotnet.com">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a    href="http://www.jquery2dotnet.com">Tex</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div    class="panel    panel-default">
                    <div    class="panel-heading">
                        <h4    class="panel-title">
                            <a    data-toggle="collapse"    data-parent="#accordion"    href="#collapseThree"><span    class="glyphicon    glyphicon-book">
                            </span>Accounts</a>
                        </h4>
                    </div>
                    <div    id="collapseThree"    class="panel-collapse    collapse">
                        <div    class="panel-body">
                            <table    class="table">
                                <tr>
                                    <td>
                                        <a    href="http://www.jquery2dotnet.com">Change    Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a    href="http://www.jquery2dotnet.com">Notifications</a>    <span    class="label    label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a    href="http://www.jquery2dotnet.com">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span    class="glyphicon    glyphicon-trash    text-danger"></span><a    href="http://www.jquery2dotnet.com"    class="text-danger">
                                            Delete    Account</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div    class="panel    panel-default">
                    <div    class="panel-heading">
                        <h4    class="panel-title">
                            <a    data-toggle="collapse"    data-parent="#accordion"    href="#collapseFour"><span    class="glyphicon    glyphicon-file">
                            </span>Reports</a>
                        </h4>
                    </div>
                    <div    id="collapseFour"    class="panel-collapse    collapse">
                        <div    class="panel-body">
                            <table    class="table">
                                <tr>
                                    <td>
                                        <span    class="glyphicon    glyphicon-usd"></span><a    href="http://www.jquery2dotnet.com">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span    class="glyphicon    glyphicon-user"></span><a    href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span    class="glyphicon    glyphicon-tasks"></span><a    href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span    class="glyphicon    glyphicon-shopping-cart"></span><a    href="http://www.jquery2dotnet.com">Shopping    Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>



                <div    class="panel    panel-default">
                    <div    class="panel-heading">
                        <h4    class="panel-title">
                            <a    data-toggle="collapse"    data-parent="#accordion"    href="#collapseFive"><span    class="glyphicon    glyphicon-user">
                            </span>Admin</a>
                        </h4>
                    </div>
                    <div    id="collapseFive"    class="panel-collapse    collapse">
                        <div    class="panel-body">
                            <table    class="table">
                                <tr>
                                    <td>
                                        <span    class="glyphicon    glyphicon-usd"></span>
                             <!--      <input type="submit" id="create_user_id" value="Generate!"> -->


                              <a    href="/usermaster/createuser/"    id="create_user_id"    >Create User</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      <a  href="/usermaster/searchusers/"  id="search_user_id"    >Search User</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span    class="glyphicon    glyphicon-tasks"></span><a    href="http://www.jquery2dotnet.com">C</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span    class="glyphicon    glyphicon-shopping-cart"></span><a    href="http://www.jquery2dotnet.com">D    Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

    </div>





    </div>

            <div    class="col-md-10"    id="workarea"    >



            </div>
            <div    class="col-md-10"    id="resultarea"    >



            </div>
        </div>



    <script    src="//code.jquery.com/jquery.js"></script>
    <script    src="./../static/js/bootstrap.min.js"></script>
    </body>
</html>
