<html>
    <head>
    <title>    Retail    Application</title>
    <meta    name="viewport"    content="width=device-width,    initial-scale=1.0">
    <link    href="./../static/css/bootstrap.min.css"    rel="stylesheet"    media="screen">
    <link    href="./../static/css/menu.css"    rel="stylesheet"    type="text/css">

<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>



  <script type="text/JavaScript">

  $(document).ready(function(event){

	      $( ".myclick" ).click(function( event ) {
            event.preventDefault();
             $('#resultarea').empty()
            var url = $(this).attr("href");
            $("#workarea").load($(this).attr("href"));

           });

   
   });
  </script>


   </head>

    <body>

    <div    class="container">
        <div    class="row    header-wrapper">

            <div    class="col-md-4">
            <img    id="logo"    src="./../static/img/hatlogo.jpg"/>
        </div>

        </div>
        <div    class="row    content-wrapper2">

            <div    class="col-md-2"    >

            <div    class="panel-group"    id="accordion">
                <div    class="panel    panel-default">
                    <div    class="panel-heading">
                        <h4    class="panel-title">
                            <a    data-toggle="collapse"    data-parent="#accordion"    href="#collapseOne"><span    class="glyphicon    glyphicon-usd">
                            </span>Sales</a>
                        </h4>
                    </div>
                    <div    id="collapseOne"    class="panel-collapse    collapse    in">
                        <div    class="panel-body">
                            <table    class="table">
                                <tr>
                                    <td>
                                        <a  href="/item/add/"    id="id_create_item" class ="myclick"   >Create Item</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a  href="/item/search/"  id="id_search_items" class ="myclick"   >Search Items</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <a  href="/location/add/"  id="id_create_locn"  class ="myclick"  >Create Location</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <a  href="/location/search/"  id="id_search_locn" class ="myclick" >Search Location</a>
                                    </td>
                                </tr>

                                <tr>
                                <td>
                                        <a  href="/inventory/assignLocation/"  id="id_assignLocation"  class ="myclick"  >Assign Location</a>
                                 </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div    class="panel    panel-default">
                    <div    class="panel-heading">
                        <h4    class="panel-title">
                            <a    data-toggle="collapse"    data-parent="#accordion"    href="#collapseTwo"><span    class="glyphicon    glyphicon-shopping-cart">
                            </span>Purchase</a>
                        </h4>
                    </div>
                    <div    id="collapseTwo"    class="panel-collapse    collapse">
                        <div    class="panel-body">
                            <table    class="table">
                                <tr>
                                    <td>
                                        <a    href="/inventory/search/" id="inventory_search_id" class ="myclick" >Inventory Search</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a    href="/inventory/" id="inventory_list_id" class ="myclick">Inventory List</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a    href="/inbound/suppliers" id="suppliers_list_id" class ="myclick">Supplier List</a>
                                    </td>
                                </tr>
                               <tr>
                                    <td>
                                        <a    href="/inbound/addSupplier" id="create_supplier_id" class ="myclick" >Create Supplier </a>
                                    </td>
                                </tr>
								<tr>
                                    <td>
                                        <a    href="/inbound/pos" id="po_list_id" class ="myclick">PO List</a>
                                    </td>
                                </tr>
								<tr>
                                    <td>
                                        <a    href="/inbound/createPO" id="create_po_id" class ="myclick">Create PO</a>
                                    </td>
                                </tr>
								<tr>
                                    <td>
                                        <a    href="/inbound/podtls" id="po_dtls_list_id" class ="myclick">PO Details List</a>
                                    </td>
                                </tr>
								<tr>
                                    <td>
                                        <a    href="/inbound/addPoDtl" id="add_po_detail_id" class ="myclick">Add PO Dtl</a>
                                    </td>
                                </tr>
								<tr>
                                    <td>
                                        <a    href="/inbound/createPoDtl" id="create_po_detail_id" class ="myclick">Create PO Detail</a>
                                    </td>
                                </tr>
								<tr>
                                    <td>
                                        <a    href="/inbound/ListPoWithDtls" id="list_po_hdr_dtl_list_id" class ="myclick">PO Header - Detail List</a>
                                    </td>
                                </tr>
								<tr>
                                    <td>
                                        <a    href="/inbound/ListPurchaseOrder" id="ListPurchaseOrder_id" class ="myclick" >List Purchase order</a>
                                    </td>
                                </tr>
								<tr>
                                    <td>
                                        <a    href="/inbound/addInboundShipment" id="addInboundShipment_id" class ="myclick">Add Shipment</a>
                                    </td>
                                </tr>
								<tr>
                                    <td>
                                        <a    href="/inbound/createInboundShipment" id="createInboundShipment$_id" class ="myclick">Create Shipment</a>
                                    </td>
                                </tr>
								<tr>
                                    <td>
                                        <a    href="/inbound/listInboundShipment" id="listInboundShipment_id" class ="myclick">Shipment List</a>
                                    </td>
                                </tr>
								<tr>
                                    <td>
                                        <a    href="/inbound/listInbdShipmentWithDtls/" id="listInbdShipmentWithDtls_id" class ="myclick">List Shipment Hdr,Details</a>
                                    </td>
                                </tr>

																<tr>
                                    <td>
                                        <a    href="/inbound/receiveInbdShipmentItems/" id="receiveInbdShipmentItems_id" class ="myclick">Receive Inbound Shipment</a>
                                    </td>
                                </tr>

																<tr>
                                    <td>
                                        <a    href="/inbound/receiveShipment/" id="receiveShipment_id" class ="myclick">Receive  Shipment</a>
                                    </td>
                                </tr>


                            </table>
                        </div>
                    </div>
                </div>

                <div    class="panel    panel-default">
                    <div    class="panel-heading">
                        <h4    class="panel-title">
                            <a    data-toggle="collapse"    data-parent="#accordion"    href="#collapseThree"><span    class="glyphicon    glyphicon-book">
                            </span>Accounts</a>
                        </h4>
                    </div>
                    <div    id="collapseThree"    class="panel-collapse    collapse">
                        <div    class="panel-body">
                            <table    class="table">
                                <tr>
                                    <td>
                                        <a    href="">Change    Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a    href="">Notifications</a>    <span    class="label    label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a    href="">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a    href="" > Delete    Account</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div    class="panel    panel-default">
                    <div    class="panel-heading">
                        <h4    class="panel-title">
                            <a    data-toggle="collapse"    data-parent="#accordion"    href="#collapseFour"><span    class="glyphicon    glyphicon-file">
                            </span>Reports</a>
                        </h4>
                    </div>
                    <div    id="collapseFour"    class="panel-collapse    collapse">
                        <div    class="panel-body">
                            <table    class="table">
                                <tr>
                                    <td>
                                        <a    href="">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a    href="">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a    href="">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a    href="">Shopping    Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>



                <div    class="panel    panel-default">
                    <div    class="panel-heading">
                        <h4    class="panel-title">
                            <a    data-toggle="collapse"    data-parent="#accordion"    href="#collapseFive"><span    class="glyphicon    glyphicon-user">
                            </span>Admin</a>
                        </h4>
                    </div>
                    <div    id="collapseFive"    class="panel-collapse    collapse">
                        <div    class="panel-body">
                            <table    class="table">
                                <tr>
                                    <td>

                              <a    href="/usermaster/createuser/"    id="create_user_id"  class ="myclick"  >Create User</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      <a  href="/usermaster/searchusers/"  id="search_user_id" class ="myclick"   >Search User</a>
                                    </td>
                                </tr>

                                 <tr>
                                    <td>
                                      <a  href="/storemaster/add/"  id="create_store_id"  class ="myclick"  >Add Store</a>
                                    </td>
                                </tr>





                            </table>
                        </div>
                    </div>
                </div>

    </div>





    </div>

            <div    class="col-md-10"    id="workarea"> </div>
            <div    class="col-md-10  empty"> </div>
            <div    class="col-md-10"    id="resultarea"></div>
        </div>



    <script    src="//code.jquery.com/jquery.js"></script>
    <script    src="./../static/js/bootstrap.min.js"></script>
    </body>
</html>
