{%    load    crispy_forms_tags    %}
{%    block    content    %}
<!--    <form    action=""    method="POST">{%    csrf_token    %}
    {{form    |    crispy    }}
    <input    type="submit"    value="Create"    />
</form>    -->


<form  class="form-horizontal" id="id_item_search_form" name="id_item_search_form" action="/item/search/"    method="POST">{%    csrf_token    %}
    {%    crispy    form    %}
</form>

<script type="text/javascript">

$("#id_item_search_form").submit(function(event){

    /* stop form from submitting normally  */
    event.preventDefault();

    /* get some values from elements on the page: */
    var $form = $( this ),
    url = $form.attr( 'action' );

    var posting = $.post( url, { item_name: $('#id_item_name').val(),
                                 item_barcode: $('#id_item_barcode').val(),
                                 item_description: $('#id_item_description').val(),
                                 'csrfmiddlewaretoken': '{{ csrf_token }}' } );

    var options= '<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">\
                <ul class="nav navbar-nav">\
                  <li class="x"><a href="/item/assignLocnSearch/" id="id_assign_location_to_sku">Assign Location</a></li>\
               </ul>\
            </div>'

    var tth= '<table class="table table-condensed table-hover"> <thead> <tr> <th>Select</th> <th>SKU ID </th> <th>Item Name</th> <th>Item Barcode</th> <th>Dsp Sku</th> <th>item category</th>  </tr> </thead>'
    var tbd= '<tbody id="tbody">'
    var tcl='</tbody> </table>'
    posting.done(function( data ) {
        $.each(data, function(index, element) {
                var eachrow = "<tr>"
                 + "<td>" + "<input type=" +"checkbox" + ">"+" </td>"
                 + "<td>" + element.pk + "</td>"
                 + "<td>" + element.fields.item_name + "</td>"
                 + "<td>" + element.fields.item_barcode + "</td>"
                 + "<td>" + element.fields.dsp_sku + "</td>"
                 + "<td>" + element.fields.item_category + "</td>"
                 + "</tr>";
                tbd = tbd + eachrow;
        });

        var abc = '<script> $("#id_assign_location_to_sku").click(function( event ) {  event.preventDefault();   $("#resultarea").empty();  var url = $(this).attr("href");  $("#workarea").load($(this).attr("href")); }); \<\/script>';

        var tableData= options+tth+tbd+tcl+abc;
        $('#resultarea').html(tableData);
    });

     /* Error Handling */
     posting.fail(function( jqXHR, textStatus ) {
            alert( "Request failed: " + textStatus );
     });



});
</script>


{% endblock %}

