{%    load    crispy_forms_tags    %}
{%    block    content    %}
<!--    <form    action=""    method="POST">{%    csrf_token    %}
    {{form    |    crispy    }}
    <input    type="submit"    value="Create"    />
</form>    -->


<form  id="id_location_search_form" name="id_location_search_form" action="/location/search/"    method="POST">{%    csrf_token    %}
    {%    crispy    form    %}
</form>

<script type="text/javascript">

$("#id_location_search_form").submit(function(event){

    /* stop form from submitting normally  */
    event.preventDefault();

    /* get some values from elements on the page: */
    var $form = $( this ),
    url = $form.attr( 'action' );

    var posting = $.post( url, { organisation_id: $('#id_organisation_id').val(),
                                 store_id: $('#id_store_id').val(),
                                 'csrfmiddlewaretoken': '{{ csrf_token }}' } );

    var tth= '<table class="table table-condensed table-hover"> <thead> <tr> <th>Select</th> <th> ID </th> <th>Display location</th> <th>Org Id</th> <th>Store Id</th> </tr> </thead>'
    var tbd= '<tbody id="tbody">'
    var tcl='</tbody> </table>'
    posting.done(function( data ) {
        $.each(data, function(index, element) {
                var eachrow = "<tr>"
                 + "<td>" + "<input type=" +"checkbox" + ">"+" </td>"
                 + "<td>" + element.pk + "</td>"
                 + "<td>" + element.fields.dsp_location + "</td>"
                 + "<td>" + element.fields.organisation_id + "</td>"
                 + "<td>" + element.fields.store_id + "</td>"
                 + "</tr>";
                tbd = tbd + eachrow;
        });

        var tableData= tth+tbd+tcl;
        $('#resultarea').html(tableData);
    });

     /* Error Handling */
     posting.fail(function( jqXHR, textStatus ) {
            alert( "Request failed: " + textStatus );
     });



});
</script>


{% endblock %}

