{%    load    crispy_forms_tags    %}
{%    block    content    %}
<!--    <form    action=""    method="POST">{%    csrf_token    %}
    {{form    |    crispy    }}
    <input    type="submit"    value="Create"    />
</form>    -->


<form   class="form-horizontal" id="id_create_locn_form" name="id_create_locn_form" action="/location/add/"    method="POST">{%    csrf_token    %}
    {%    crispy    form    %}
</form>

<script type="text/javascript">

$("#id_create_locn_form").submit(function(event) {

    /* stop form from submitting normally */
    event.preventDefault();

    /* get some values from elements on the page: */
    var $form = $( this ),
    url = $form.attr( 'action' );


    /* Send the data using post */
    var posting = $.post( url, { organisation_id: $('#id_organisation_id').val(), store_id: $('#id_store_id').val(),
         area: $('#id_area').val(),zone: $('#id_zone').val(), aisle: $('#id_aisle').val(),
         bay: $('#id_bay').val(),level: $('#id_level').val(),sequence: $('#id_sequence').val(),
         max_volume: $('#id_max_volume').val(),max_weight: $('#id_max_weight').val(),max_height: $('#id_max_height').val(),max_number_of_items: $('#id_max_number_of_items').val(),
          'csrfmiddlewaretoken': '{{ csrf_token }}'} );

    /* Put the results in a div */
    posting.done(function( data ) {

           $.each(data, function(index, element) {
                url="/location/"+element+"/";
                $("#workarea").load(url);
                /*$.getJSON(url,function(result){
                    alert( "Success: " + url );
                    $.each(result, function(i, field){
                        $("#resultarea").append(i + "" + field + " ");
                    });
                }); */

           });

    });

     /* Error Handling */
     posting.fail(function( jqXHR, textStatus ) {
            alert( "Request failed: " + textStatus );
     });
 });


</script>


{%    endblock    %}

